form input.error {
	border: 2px solid #cc3333;
}

.error { /* Harsh, plain red */
	color: #cc3333;
}
.red {
	color: #cc4433;
}
.green {
	color: #33aa33;
}
.orange {
	color: #cc8833;
}
.blue {
	color: #2266bb;
}
.gray {
	color: #777;
}

table, tr, td, th {
	border: 1px inset black;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0.25em;
}

div.piece-content {
	overflow-wrap: break-word;
}
